.Rproj.user
.Rhistory
.RData
.Ruserdata
figures/main/figure_2/fig_2a.png
figures/main/figure_2/fig_2b.png
figures/main/figure_2/fig_2c.png
figures/main/figure_2/fig_2d.png
figures/main/figure_2/fig_2e.png